.App {
  text-align: center;
  text-transform: capitalize;
}

.choices {
margin: 5px;
padding: 10px 20px;
border-radius: 5px;
color: white;
background-color: #1e57ca;
border: none;
letter-spacing: 1.5px;

}